package jigsawstack

type Accent string

const (
	{{ range $accent := .Accents }}
	// Accent{{ $accent.GoName }} is the {{$accent.Gender}} accent from {{ $accent.LocaleName }}.
	Accent{{ $accent.GoName }} Accent = "{{ $accent.Accent }}"
	{{ end }}
)
